In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\hp\Desktop\tools\Assignement\dataset.csv")

In [15]:
beds_per_ward = df.groupby('NURSENAME')['BEDKEY'].count()
print(beds_per_ward)
print("sum=",sum(beds_per_ward))

NURSENAME
Daycare Endoscopy                32
Daycare Haemato & Onco Adult     35
Daycare Haemato & Onco Paed      11
Daycare Imaging                  10
Daycare Surgery                  50
NT Admission Lounge              36
NT ICU                           16
NT Labour Room                   42
NT NICU                           8
NT Nursery                      118
NT Paed HDU                      16
NT Ward 2D                      110
NT Ward 3D                       78
NT Ward 4D                       76
NT Ward 5C                       50
NT Ward 5D                       41
ST CCU                           11
ST HDU                            6
ST ICU                            9
ST Ward 2A                       30
ST Ward 3A                       31
ST Ward 3B                       45
ST Ward 4A                       45
ST Ward 4B                       33
ST Ward 5A                       35
ST Ward 5B                       26
Name: BEDKEY, dtype: int64
sum= 1000

In [4]:
df.head()

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
0,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),34.0,101-1,Occupied Discharge
1,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),35.0,101-1P,Occupied Discharge
2,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),36.0,101-2,Vacant Dirty
3,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),37.0,101-2P,Vacant Dirty
4,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),38.0,101-3,Vacant Dirty

In [32]:
df.describe()

       BUILDINGKEY     FLOORKEY      ROOMKEY       BEDKEY
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      5.423000   185.388000   581.357000   709.805000
std       0.660687   243.942627   499.595474   560.236518
min       5.000000     9.000000    33.000000    34.000000
25%       5.000000    11.000000   172.000000   212.750000
50%       5.000000    12.000000   380.000000   544.500000
75%       6.000000   459.000000   742.000000  1262.250000
max       8.000000   880.000000  1653.000000  1775.000000

In [33]:
# Extract the room name without the number part
df['ROOMNAME'] = df['ROOMNAME'].str.replace(r' Room \d+', '', regex=True)

beds_per_room = df.groupby('ROOMNAME')['BEDKEY'].count()
print(beds_per_room)
print("sum =",sum(beds_per_room))

ROOMNAME
CCU ST (ICU/CCU)                                                   11
Daycare NT (Day Care)                                              50
Haematology & Oncology Daycare Adult (Day Care Chemo)              35
Haematology & Oncology Daycare Paeds (Day Care Chemo (Private))    11
ICU NT  (ICU/CCU)                                                  16
                                                                   ..
Room 585 (Double Bed)                                               2
Room 586 (Double Bed)                                               2
Room 587 (Double Bed)                                               2
Room 588 (Four Bedded)                                              2
Room G03 (Day Care)                                                10
Name: BEDKEY, Length: 275, dtype: int64
sum = 1000

In [20]:
beds_per_status = df.groupby('BEDSTATUS')['BEDKEY'].count()
print(beds_per_status)
print("Sum = ", sum(beds_per_status))

BEDSTATUS
Available             535
Blocked                 2
Occupied Discharge     59
Occupied(Female)      104
Occupied(Male)         90
Vacant Dirty          210
Name: BEDKEY, dtype: int64
Sum =  1000

In [24]:

occupied_statuses = ['Occupied Discharge', 'Occupied(Female)', 'Occupied(Male)']
occupied_df = df[df['BEDSTATUS'].isin(occupied_statuses)]

# Calculate the total number of beds and the number of occupied beds
total_bed_count = len(df.dropna(subset=['BEDSTATUS']))
occupied_bed_count = len(occupied_df.dropna(subset=['BEDSTATUS']))

# Calculate the occupancy percentage
occupancy_percentage = (occupied_bed_count / total_bed_count) * 100

print(f"Total beds: {total_bed_count}")
print(f"Occupied beds: {occupied_bed_count}")
print(f"Occupancy percentage: {occupancy_percentage:.2f}%")

253
Total beds: 1000
Occupied beds: 253
Occupancy percentage: 25.30%

In [26]:

occupied_statuses = ['Occupied Discharge', 'Occupied(Female)', 'Occupied(Male)']
occupied_df = df[df['BEDSTATUS'].isin(occupied_statuses)]

beds_per_ward = occupied_df.groupby('NURSENAME')['BEDKEY'].count()

total_beds_per_ward = df.groupby('NURSENAME')['BEDKEY'].count()

occupied_beds_per_ward = occupied_df.groupby('NURSENAME')['BEDKEY'].count()

occupancy_percentage_per_ward = (occupied_beds_per_ward / total_beds_per_ward) * 100

occupancy_percentage_per_ward = occupancy_percentage_per_ward.dropna()

# Display the results
print("Occupancy for each ward:")
print(occupancy_percentage_per_ward)

Occupancy for each ward:
NURSENAME
Daycare Endoscopy               18.750000
Daycare Haemato & Onco Adult     5.714286
Daycare Surgery                  8.000000
NT ICU                          62.500000
NT NICU                         50.000000
NT Nursery                       1.694915
NT Ward 2D                      29.090909
NT Ward 3D                      53.846154
NT Ward 4D                      15.789474
NT Ward 5D                      68.292683
ST CCU                          63.636364
ST HDU                          66.666667
ST ICU                          55.555556
ST Ward 2A                      56.666667
ST Ward 3A                      87.096774
ST Ward 3B                      11.111111
ST Ward 4A                      26.666667
ST Ward 4B                       9.090909
ST Ward 5A                      57.142857
ST Ward 5B                      42.307692
Name: BEDKEY, dtype: float64

In [29]:


occupied_statuses = ['Occupied Discharge', 'Occupied(Female)', 'Occupied(Male)']
occupied_df = df[df['BEDSTATUS'].isin(occupied_statuses)].copy()

occupied_df.loc[:, 'ROOMNAME'] = occupied_df['ROOMNAME'].str.replace(r' Room \d+', '', regex=True)

beds_per_room = occupied_df.groupby('ROOMNAME')['BEDKEY'].count()

total_beds_per_room = df.groupby('ROOMNAME')['BEDKEY'].count()

occupied_beds_per_room = occupied_df.groupby('ROOMNAME')['BEDKEY'].count()

occupancy_percentage_per_room = (occupied_beds_per_room / total_beds_per_room) * 100

occupancy_percentage_per_room = occupancy_percentage_per_room.dropna()

print("Occupancy for each room:")
print(occupancy_percentage_per_room)

Occupancy for each room:
ROOMNAME
CCU ST (ICU/CCU)                                          63.636364
Daycare NT (Day Care)                                      8.000000
Haematology & Oncology Daycare Adult (Day Care Chemo)      5.714286
ICU NT  (ICU/CCU)                                         62.500000
ICU ST 1 (ICU/CCU)                                        55.555556
                                                            ...
Room 582 (Single Bed)                                    100.000000
Room 584 (Four Bedded)                                    50.000000
Room 585 (Double Bed)                                     50.000000
Room 586 (Double Bed)                                     50.000000
Room 587 (Double Bed)                                     50.000000
Name: BEDKEY, Length: 145, dtype: float64

In [30]:
beds_per_status_per_ward = df.groupby(['NURSENAME', 'BEDSTATUS'])['BEDKEY'].count()
print(beds_per_status_per_ward)

NURSENAME                     BEDSTATUS
Daycare Endoscopy             Available             16
                              Occupied Discharge     6
                              Vacant Dirty          10
Daycare Haemato & Onco Adult  Available              3
                              Occupied Discharge     2
                                                    ..
ST Ward 5A                    Vacant Dirty           7
ST Ward 5B                    Available              8
                              Occupied(Female)       4
                              Occupied(Male)         7
                              Vacant Dirty           7
Name: BEDKEY, Length: 88, dtype: int64

In [31]:
beds_per_status_per_room = df.groupby(['ROOMNAME', 'BEDSTATUS'])['BEDKEY'].count()
print(beds_per_status_per_room)

ROOMNAME                BEDSTATUS
CCU ST (ICU/CCU)        Available              4
                        Occupied(Female)       1
                        Occupied(Male)         6
Daycare NT (Day Care)   Available             12
                        Occupied Discharge     4
                                              ..
Room 587 (Double Bed)   Occupied(Female)       1
                        Vacant Dirty           1
Room 588 (Four Bedded)  Available              2
Room G03 (Day Care)     Available              4
                        Vacant Dirty           6
Name: BEDKEY, Length: 370, dtype: int64